openapi: 3.0.3
info:
  title: CrystalDocs API
  description: |
    CrystalDocs is a documentation hosting platform for Crystal language shards.

    This API allows you to:
    - Browse documentation for Crystal shards
    - Access different versions of documentation
    - Get presigned URLs for documentation files
  version: 1.0.0
  contact:
    name: CrystalDocs
    url: https://crystaldocs.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://crystaldocs.org
    description: Production server
  - url: http://localhost:3001
    description: Local development server

tags:
  - name: docs
    description: Documentation operations
  - name: health
    description: Health check endpoints

paths:
  /api/health:
    get:
      summary: Health check
      description: Check if the API is running and connected to dependencies
      tags:
        - health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/docs:
    get:
      summary: List the shard catalogue
      description: |
        A paginated list of the shards in the crystalshards registry, which is
        the set of shards that exist rather than the subset this site has
        already built documentation for.

        A package with no documentation built yet is still listed. Its
        `current_version` is the registry's current release, and the fields
        that only a build can fill in are null.
      tags:
        - docs
      parameters:
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: query
          in: query
          description: |
            Filter the catalogue. Matches the shard name, its repository slug
            or its description, case insensitively.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  docs:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocSummary'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '503':
          description: |
            The shard registry could not be reached, so the catalogue cannot
            be listed. Reported rather than returned as an empty list, which a
            client could not tell apart from a registry that holds no matching
            shard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/docs/{package_name}:
    get:
      summary: Get package documentation details
      description: Get detailed information about a package's documentation including all versions
      tags:
        - docs
      parameters:
        - name: package_name
          in: path
          description: Package name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocDetail'
        '404':
          description: Package not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/docs/{package_name}/{version}:
    get:
      summary: Get specific version documentation
      description: Get documentation details for a specific version of a package
      tags:
        - docs
      parameters:
        - name: package_name
          in: path
          description: Package name
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: Version string (e.g., 1.0.0)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocVersionDetail'
        '404':
          description: Package or version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          example: ok
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              type: string
              example: connected
            storage:
              type: string
              example: connected

    DocSummary:
      type: object
      description: |
        A package in the catalogue. The nullable fields are the ones that come
        from this site's own tables, and a shard nobody has opened here yet
        has no row to read them from.
      properties:
        package_name:
          type: string
          description: |
            The repository this package comes from, host qualified. Bare names
            appear only for the handful of packages predating that identity.
          example: github.com/kemalcr/kemal
        description:
          type: string
          nullable: true
          example: Fast, Effective, Simple web framework for Crystal
        current_version:
          type: string
          nullable: true
          description: |
            The registry's current release: the highest stable one, or the
            highest prerelease when nothing stable has been tagged.
          example: 1.4.0
        repository_url:
          type: string
          nullable: true
          example: https://github.com/kemalcr/kemal
        total_views:
          type: integer
          format: int64
          description: Zero for a package this site holds no row for.
          example: 0
        last_updated_at:
          type: string
          format: date-time
          nullable: true
          description: When documentation was last built. Null if never.
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    DocDetail:
      allOf:
        - $ref: '#/components/schemas/DocSummary'
        - type: object
          properties:
            versions:
              type: array
              items:
                $ref: '#/components/schemas/DocVersion'

    DocVersion:
      type: object
      properties:
        version:
          type: string
          example: 1.4.0
        published_at:
          type: string
          format: date-time
        is_latest:
          type: boolean

    DocVersionDetail:
      allOf:
        - $ref: '#/components/schemas/DocVersion'
        - type: object
          properties:
            package_name:
              type: string
            doc_url:
              type: string
              format: uri
              description: Presigned URL to access the documentation
            file_count:
              type: integer
            total_size:
              type: integer
              format: int64
              description: Total size in bytes

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
